html, body {
  height: 100%;
}
body {
    background-color: #40444b ; /* Set the background color to a light gray */
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
  }
  
  .navbar img {
    margin-right: 1%;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
  }

  .nav-image {
    width: 6%; /* Set the image width to 50% of its original size */
    height: 6%; /* Set the height to auto so that the aspect ratio is maintained */
    min-height: 33px;
    min-width: 60px;
  }

  .nav-button {
    display: inline-block; /* Display the button as an inline-block element */
    padding: 10px 20px; /* Add some padding around the text inside the button */
    text-decoration: none; /* Remove the underline from the text */
    font-weight: bold; /* Make the text inside the button bold */
    border: none; /* Remove the border around the button */
    border-radius: 5px; /* Add some rounded corners to the button */
    font-size: 16px; /* Set the font size of the button */
  }
  
  .nav-button:hover {
    background-color: #08a0b7; /* Change the background color of the button on hover */
  }
  main {
    flex: 1 0 auto;
  }
  .grid-container {
    display: flex;
    gap: 100px;
    margin: 50px;
    align-items: center;
  }

  
  .grid-item {
    background-color: #fff;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    
   
    }
    
  @media screen and (max-width: 768px) {
  .grid-container {
    flex-direction: column;
  }
}

  .footer-container {
    height:  100%; /* Set the height of the footer */
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
    color: #fff; /* Set the text color */
    text-align: center;
    text-align: center;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
  }
  
  