html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #40444b ; /* Set the background color to a light gray */
  margin: 0px;
  padding: 0px;

}
.navbar {
  display: flex;
  align-items: center;
  justify-content:start;
  background-color: #333;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-image {
  width: 5%; /* Set the image width to 50% of its original size */
  height: 5%; /* Set the height to auto so that the aspect ratio is maintained */
  min-height: 33px;
  min-width: 60px;
  margin: 0px 20px 0px 40px ;


  
}
.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #08a0b7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
  main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 50px;
    width: 100%;
    
  }

  .grid-item {
    background-color: #fff;
    height: 500px;
    width: 100%;
    border-radius: 20px;
  
    }
  
  .footer-container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    height:  100%; /* Set the height of the footer */
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
    color: #fff; /* Set the text color */
    text-align: center;
  }
  
  footer {
    flex-shrink: 0;
  }

  @media screen and (max-width: 900px) {
    .grid-container {
      display: flex;
      flex-wrap: wrap;
    }
    .nav-button {
      display: none;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: #333;
    }
    .nav-image {
      min-height: 33px;
      min-width: 60px;
      margin: 0px 20px 0px 0px ;
    }
    .dropdown {
      display: block;
    }
  }