<!DOCTYPE html>
<html lang="sv">
<head>
  <title>Sebastian Sjösvärd</title>

</head>

<body>
    




    
    <!-- anywhere on the page
    <div v-scope="{ count: 'black',isBlack:true }">
        <p v-if="isBlack">black</p>
        <p v-if="!isBlack">White</p>
      {{ count }}
      <button @click='isBlack = !isBlack'>inc</button>
    </div>
    
    <script src="https://unpkg.com/petite-vue" defer init></script> -->
</body>



<style>
body{
background-color:rgb(70, 69, 69);
  color:white;
  font-size: 30px; 
}

</style>