html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #40444b ; /* Set the background color to a light gray */
  margin: 0px;
  padding: 0px;

}

.navbar {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
}
  
  .navbar img {
    margin-right: 1%;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
  }

  .nav-image {
    width: 6%; /* Set the image width to 50% of its original size */
    height: 6%; /* Set the height to auto so that the aspect ratio is maintained */
    min-height: 33px;
    min-width: 60px;
  }

  .nav-button {
    display: inline-block; /* Display the button as an inline-block element */
    padding: 10px 20px; /* Add some padding around the text inside the button */
    text-decoration: none; /* Remove the underline from the text */
    font-weight: bold; /* Make the text inside the button bold */
    border: none; /* Remove the border around the button */
    border-radius: 5px; /* Add some rounded corners to the button */
    font-size: 16px; /* Set the font size of the button */
  }
  .nav-button:hover {
    background-color: #08a0b7; /* Change the background color of the button on hover */
  }
  main {
    flex-grow: 1;
  }
  .box {
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 10px;
  }
  
  .box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap; /* set two equal columns */
    justify-content: center;
    gap: 40px;
    margin: 50px;
  }

  .grid-container-child {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  .grid-item {
    flex: 1 0 25%; /* By default, show 4 items in each row */
  }
  .grid-item1 {
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    border-radius: 20px 20px 0 0 ;
 
  }
  .grid-item2 {
    background-color: blue;
    height: 50px;
    width: 200px;
    text-align: center;
    justify-content: center;
  }
  .center-text p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* remove any default margin */
  }
  
  .footer-container {
    display: flex; /* Enable flexbox */
    height:  100%; /* Set the height of the footer */
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
    color: #fff; /* Set the text color */
    text-align: center;
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
  }
  footer {
    flex-shrink: 0;
  }