html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #40444b ; /* Set the background color to a light gray */
  margin: 0px;
  padding: 0px;

}
.navbar {
  display: flex;
  align-items: center;
  justify-content:start;
  background-color: #333;
  height: 50px;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
.nav-image {
  width: 4%; /* Set the image width to 50% of its original size */
  height: 4%; /* Set the height to auto so that the aspect ratio is maintained */
  min-height: 33px;
  min-width: 60px;
  margin: 0px 20px 0px 40px ;
  
}
.nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}
.dropbtn{
  height: 50px;
}
  
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #08a0b7;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #08a0b7;
}

.show {
  display: block;
}
  main {
    flex-grow: 1;
  }
  .box {
    text-align: center;
    color: white;
    margin-top: 10px;
    padding: 10px;
  }
  
  .box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .box p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap; /* set two equal columns */
    justify-content: center;
    gap: 40px;
    margin: 50px;
  }

  .grid-container-child {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    
  }
  .grid-container-child:hover{
    transform: scale(1.25);}
  
    .resize_fit_center{
    width: 100%;
    height: 100%;
  }
  
  
  .grid-item {
    flex: 1 0 25%; /* By default, show 4 items in each row */
  }
  .grid-item1 {
    background-color: #ffffff;
    height: 200px;
    width: 200px;
  
 
  }
  .grid-item2 {
    background-color: #333;
    height: 50px;
    width: 200px;
    text-align: center;
    justify-content: center;
  }
  
  p.center-text{
  color:white;
  }
  
  
  .footer-container {
    display: flex; /* Enable flexbox */
    height:  100%; /* Set the height of the footer */
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* White color with 50% opacity */
    color: #fff; /* Set the text color */
    text-align: center;
    justify-content: center; /* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
  }
  footer {
    flex-shrink: 0;
  }
  @media screen and (max-width: 900px) {

    .nav-button {
      display: none;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: #333;
    }
    .nav-image {
      min-height: 33px;
      min-width: 60px;
      margin: 0px 20px 0px 0px ;
    }
    .dropdown {
      display: block;
    }
  }